streamlit
groq

langchain
langchain-community
langchain-text-splitters
langchain-huggingface

faiss-cpu

sentence-transformers
transformers

torch

pypdf
pandas
numpy
matplotlib
plotly
openpyxl
python-dotenv
